header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid var(--lightest-gray);
  color: var(--gray-color);
}

.logo {
  margin-left: 50px;
  width: 20%;
  max-width: 180px;
}

.logo img {
  width: 100%;
}

/* searchBar */

.searchBar {
  position: absolute;
  left: 280px;
  width: 30%;
  max-width: 500px;
  height: 60px;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.searchBar form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContent {
  display: inline-block;
  width: 80%;
}

#searchContent {
  border: none;
  width: 100%;
  display: inline-block;
  padding: 1rem;
  background-color: transparent;
  margin: 0.5rem;
  border-radius: 1rem;
}

#searchContent:focus {
  outline: none;
  background-color: transparent;
}

#searchContent:focus::placeholder,
#searchContent:hover::placeholder {
  color: var(--point-color);
}

#searchContent::placeholder {
  font-family: "miGothic";
  font-size: 1rem;
  transition: 0.3s;
  color: var(--light-gray);
}

.searchSubmit {
  width: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: 0.3s;
}

.searchSubmit:hover {
  color: var(--point-color);
}

#searchSubmit {
  display: none;
}

/* privateMenu */

.privateMenu {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.privateMenu a {
  padding-right: 2rem;
  position: relative;
  transition: 0.3s;
}

.privateMenu a:hover {
  color: var(--point-color);
  font-weight: bold;
}

.privateMenu a:first-child::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--light-gray);
  top: 0;
  right: 1rem;
  z-index: 1;
}

.globalIcon {
  font-size: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.globalIcon:hover {
  color: var(--point-color);
}

/* search-box */
.searchBox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  padding-top: 90px;
  box-shadow: var(--box-shadow);
}

.searchBox .searchBarInbox {
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
}

.backBtn {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(300px);
  cursor: pointer;
}

.searchBoxContent {
  width: 50%;
  margin: auto;
}

.searchBoxContent > * {
  padding-top: 1rem;
}

.searchBoxContent > *:not(:last-child) {
  border-bottom: 1px solid var(--lightest-gray);
}

.searchBoxHeader {
  padding-bottom: 3rem;
}

.recentSearch {
  position: relative;
}

.searchResetBtn {
  position: absolute;
  font-size: smaller;
  top: 1.25rem;
  right: 0;
  cursor: pointer;
}

.recentSearchCon span {
  font-size: smaller;
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: block;
}

.recommendBtn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid var(--point-color);
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.recommendBtn:hover {
  background-color: var(--point-color);
  color: white;
}

.recommendBtn:not(:last-child) {
  margin-right: 2rem;
}

.divisionSubjectCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subjectBtn {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: 25px;
  margin: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.subjectBtn img {
  max-height: 30px;
  margin-right: 1rem;
}

.subjectBtn:hover {
  background: #ffffff;
  box-shadow: inset 16px 16px 32px #d9d9d9, inset -16px -16px 32px #ffffff;
}

/* mobile menu */
.mobileMenu {
  position: fixed;
  width: 60%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  font-size: 1.3rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.mobileMenuBg {
  position: fixed;
  width: 40%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000
}

.mobileBtnCon {
  display: flex;
  justify-content: center;
  padding: 6rem 0 3rem;
  height: fit-content;
}

.mobileBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 16rem;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.mobileBtn:nth-of-type(1),
.mobileBtn:nth-of-type(2):hover {
  background-color: var(--point-color);
  color: white;
}

.mobileBtn:nth-of-type(2),
.mobileBtn:nth-of-type(1):hover {
  background-color: white;
  border: 1px solid var(--point-color);
  color: var(--gray-color);
}

.mobileIconCon {
  padding: 2rem 0 5rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.mobileIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileIcon:hover .mobileIconImg::before {
  transform: translate(-50%, -50%) scale(1);
}

.mobileIconImg {
  position: relative;
}

.mobileIconImg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--icon-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  border-radius: 50%;
  transition: .3s;
}

.mobileIconImg img {
  width: 100%;
  max-width: 50px;
}

.mobileIcon span {
  font-size: 0.7rem;
  padding: 0.5rem 0;
}

.mobileMenuLinkCon {
  height: fit-content;
}

.mobileMenuLink {
  padding: 1.5rem 0;
}

.mobileMenuLink > li {
  padding: 1.5rem 0;
  position: relative;
  cursor: pointer;
  color: var(--font-color);
  transition: 0.3s;
}

.mobileMenuLink > li:hover {
  color: var(--point-color);
}

.mobileMenuLink > li:hover::before {
  transform: rotate(360deg);
}

.mobileMenuLink > li:hover > .mobileSubMenu {
  display: block;
}

.mobileMenuLink > li::before {
  content: "+";
  position: absolute;
  right: 0;
  font-size: large;
  transition: 0.3s;
}

.mobileSubMenu {
  padding-top: 1rem;
}

.mobileSubMenu li {
  font-size: smaller;
  padding: 0.5rem 1.5rem 0.5rem;
  color: var(--gray-color);
}

.mobileSubMenu li:hover {
  font-weight: bold;
}

.mobileSubMenu li:last-of-type {
  padding-bottom: 0;
}

.mobileMenuLink > li:not(:last-child) {
  border-bottom: 1px solid var(--lightest-gray);
}

.mobileSubMenu {
  display: none;
}

.snsLinkCon {
  position: absolute;
  width: calc(100% - 4rem);
  bottom: 8rem;
  border-top: 1px solid rgba(59, 136, 217, 0.2);
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.snsLink {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--point-color);
  border-radius: 50%;
}

.closeBtn {
  position: absolute;
  top : 1rem;
  right: 2rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.closeBtn span{
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--point-color);
  top: 50%;
}

.closeBtn span:nth-of-type(1) {
  transform: translateY(-50%) rotate(45deg);
  left: 0;
}
.closeBtn span:nth-of-type(2) {
  transform: translateY(-50%) rotate(-45deg);
  right: 0;
}

/* mobile bottom menu */
.mobileBottomMenu {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60px;
  background-color: white;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.mobileBottomBtn {
  display: flex;
  flex-direction: column;
  width: 6rem;
  align-items: center;
  justify-content: space-evenly;
}

.mobileBottomBtn span {
  height: 1rem;
}

.mobileBottomIcon {
  height: 2rem;
}

.mobileBottomBtn:nth-of-type(3) .mobileBottomIcon {
  color: var(--point-color);
}

/* Media-Query */

@media (max-width: 1550px) {
  .searchBoxContent {
    width: 70%;
  }
}

@media (max-width: 1080px) {
  .searchBar {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    height: 50px;
    padding: 0 2rem;
  }

  header * {
    height: inherit;
  }

  .logo {
    max-width: 120px;
    margin: 0;
  }

  .privateMenu {
    margin-right: 0;
  }

  .privateMenu > * {
    height: 2rem;
  }

  .privateMenu > *:hover {
    color: var(--point-color);
    cursor: pointer;
  }

  .privateMenu > *:not(:last-child) {
    padding-right: 1rem;
  }
}

@media (max-width: 510px) {
  .mobileMenu {
    width: 80%;
  }

  .mobileMenuBg {
    width: 20%;
  }

  .mobileIcon img {
    max-width: 35px;
  }

  .mobileIcon span {
    font-size: 8px;
  }
}
