@font-face {
  font-family: "pretendard-extraBold";
  src: url("./fonts/Pretendard-ExtraBold.ttf");
}

@font-face {
  font-family: "pretendard-regular";
  src: url("./fonts/Pretendard-Regular.ttf");
}

@font-face {
  font-family: "miGothic";
  src: url("./fonts/MICEGothic.ttf");
}

@font-face {
  font-family: "rokafSans-bold";
  src: url("./fonts/ROKAFSansBold.ttf");
}

:root {
  --light-gray: #B7B7B7;
  --lightest-gray : #E2E2E2;
  --gray-color : #8A8A8A;
  --font-color : #333;
  --point-color : #3B88D9;
  --point-shadow : 0 3px 6px rgba(0,0,0,0.16); 
  --box-shadow : 0 3px 6px rgba(0,0,0,0.16);
  --footer-bg : #3D5B8E;
}

body {
  font-family: "miGothic";
  color : var(--font-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mobile-wrap {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.sec-hero {
  height: 100vh;
  background-color:lightskyblue;
}